@charset "UTF-8";
/* PARAMETROS GENERALES */
* {
  margin: 0;
  padding: 0; }

/*ESTILOS PARA EL NAVBAR */
.navbar a img {
  margin-left: 20px; }

.modifNavbar a {
  margin: 0 15px 0 25px;
  font-family: "Poiret One", cursive;
  font-size: 1.1rem;
  font-weight: bold; }

/* ESTILOS PARA EL TITULO Y PARRAFOS */
.tituloPrincipal h6 {
  margin: 60px 0 60px 0;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 2rem; }

/* ESTILOS PARA EL CONTENIDO DEL FORMULARIO Y EL CALENDARIO EN LA PESTAÑA CONTACOS*/
.modifContenido h6 {
  margin-bottom: 30px;
  font-family: "Poiret One", cursive;
  font-size: 1.4rem; }

.modifContenido label {
  font-family: "Josefin Slab", serif; }

.modifCalendario {
  border: 10px solid lightgreen;
  flex-direction: column; }
  .modifCalendario .calendario-header {
    background-color: lightgreen;
    margin: 0;
    padding-bottom: 10px; }
  .modifCalendario .calendario-flechas {
    background-color: lightgreen;
    padding-bottom: 10px; }
  .modifCalendario .calendario-dias {
    flex-direction: column;
    text-align: center;
    width: 140px;
    height: 500px;
    border-left: 1px solid lightgray; }
  .modifCalendario .calendario-titulo {
    margin: 10px 0 20px 0; }
  .modifCalendario .calendario-tiempo {
    flex-wrap: wrap;
    justify-content: center; }
    .modifCalendario .calendario-tiempo a {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      margin: 5px;
      padding: 2px 6px 2px 6px; }
    .modifCalendario .calendario-tiempo a:hover {
      background-color: lightgreen; }

/* ESTILOS PARA EL MAPA EN LA PESTAÑA CONTACOS */
.modifMapa {
  margin: 60px 0 60px 0; }

/* ESTILOS PARA EL FOOTER */
.footer {
  background-color: darkslategrey !important;
  padding: 20px 0 5px 0 !important;
  width: 100%;
  height: auto; }
  .footer .iconoRedesSoc {
    margin-bottom: 40px; }
    .footer .iconoRedesSoc .iconoInsta {
      color: white; }
    .footer .iconoRedesSoc .iconoFace {
      color: white;
      margin: 0 20px 0 20px; }
    .footer .iconoRedesSoc .iconoWhatsapp {
      color: white; }
  .footer p {
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; }

/* ESTILOS PARA LA PÁGINA RESERVA */
.divPrincipalReserva {
  margin-bottom: 60px; }
